.bg-1 {
    background-color: #FFCDD2;
}

.bg-2 {
    background-color: #F8BBD0;
}

.bg-3 {
    background-color: #E1BEE7;
}

.bg-4 {
    background-color: #D1C4E9;
}

.bg-5 {
    background-color: #C5CAE9;
}

.bg-6 {
    background-color: #BBDEFB;
}

.bg-7 {
    background-color: #B3E5FC;
}

.bg-8 {
    background-color: #B2EBF2;
}

.bg-9 {
    background-color: #B2DFDB;
}

.bg-10 {
    background-color: #C8E6C9;
}

.bg-11 {
    background-color: #DCEDC8;
}

.bg-12 {
    background-color: #F0F4C3;
}

.bg-13 {
    background-color: #FFF9C4;
}

.bg-14 {
    background-color: #FFECB3;
}

.bg-15 {
    background-color: #FFE0B2;
}

.bg-16 {
    background-color: #FFCCBC;
}

.bg-17 {
    background-color: #C5E1A5;
}

.bg-18 {
    background-color: #F8BBD0;
}

.bg-19 {
    background-color: #F48FB1;
}

.bg-20 {
    background-color: #CE93D8;
}

.bg-21 {
    background-color: #B39DDB;
}

.bg-22 {
    background-color: #9FA8DA;
}

.bg-23 {
    background-color: #90CAF9;
}

.bg-24 {
    background-color: #81D4FA;
}

.bg-25 {
    background-color: #80DEEA;
}

.bg-26 {
    background-color: #80CBC4;
}

.bg-27 {
    background-color: #A5D6A7;
}
