.bg-1 {
    background-color: #FFCDD2; 
}

.bg-2 {
    background-color: #F8BBD0; 
}

.bg-3 {
    background-color: #E1BEE7; 
}

.bg-4 {
    background-color: #D1C4E9; 
}

.bg-5 {
    background-color: #C5CAE9; 
}

.bg-6 {
    background-color: #BBDEFB; 
}

.bg-7 {
    background-color: #B3E5FC; 
}

.bg-8 {
    background-color: #B2EBF2; 
}

.bg-9 {
    background-color: #B2DFDB; 
}

.bg-10 {
    background-color: #C8E6C9; 
}