/* Fonte e Reset */
body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #161c33, #764ba2);
    margin: 0;
    padding: 10px;
    color: #333;
}

.header {
    background: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.header h1 {
    font-size: 22px;
    font-weight: 600;
}

.logout-btn {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.logout-btn:hover {
    background: #cc0000;
}

.dashboard-container {
    max-width: 600px;
    margin: 100px auto 0;
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

form {
    margin-top: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.form-group {
    margin: 20px 0;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

.form-group input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    display: block;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.divisor {
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
}

.action-btn {
    background: #667eea;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    height: 45px;
    margin: 5px 0;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 14px;
}

.action-btn:hover {
    background: #5563c1;
}

.error-btn {
    background-color: #ff4d4d;
}

.error-btn:hover {
    background-color: #cc0000;
}

.back-btn {
    background-color: #fff;
    border: 2px solid #ccc;
    color: #333;
}

.back-btn:hover {
    background-color: #f9f9f9;
}
