.is-today-show-card {
    background: #616161;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.show-card {
    background: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-infos {
    text-align: right;
}

.musician-name {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .show-card,
    .is-today-show-card {
        flex-direction: column;
        padding: 10px;
    }
}
