.is-today-show-card {
    background: #616161;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.show-card {
    background: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show-time {
    margin: 5px 0;
    font-weight: 600;
    display: block;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    color: #333;
    max-width: 50px;
    text-align: center;
}

.user-infos {
    text-align: right;
}

.musician-name {
    font-size: 1.375rem;
    font-weight: 600;
    margin: 0;
}

.restaurant-infos {
    text-align: right;
}

.restaurant-infos .restaurant-name {
    font-size: 1.375rem;
    font-weight: 600;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .show-card,
    .is-today-show-card {
        flex-direction: column;
        padding: 10px;
    }
}
